/* All */
textarea {
    height: 4em;
    resize: none; 
}

body{
    background-color:lightslategrey;
    
}

*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


/* form */

/* column container for every form field*/
.container-form{
   

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 1em;
}

/*the field of the form like input, text or fieldset. Actually a mess, TODO: rework*/
.field-form{
    width: 30em;
}

/* targetting buttons */
div.field-form{
    text-align: center;
}

div.field-form button{
    width: 10em;
}

.flex-break{
    flex-basis: 100%;
    height: 10;
}

.field-form.container-form legend{
    color:rgba(240, 248, 255, 0.914);
}


#break-button-capture, #button-capture{
    display: none;
}

/*Container for both song form and song card*/

.container-row{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#song-form{
    
    border: solid 2px aliceblue;
    border-radius: 1%;
    padding: 0 10px 10px 10px;
}

/* card */
#song-card{
    
    display: none;
    flex-direction: column;
    border-style: solid;
    border-width: 4px;
    max-width: 500px;
    min-width: 500px;
}

.field-card{
    width: 100%;
    border-bottom: solid 4px;
}

/*the header of the card, text of the first field*/
.field-card h2{
    padding-left: 2vw;
}


/*field in a card, that stores characteristics*/
#card-song-chars{
    display: flex;

    flex-wrap: wrap;
}

/*elements of a card-song-chars field*/
.song-characteristics{
    width: 40%;
    padding: 5%;
    text-align: center;
}

/*field in a card, that stores doodle*/
#card-doodle{
    display: none;
}

/* actual image of card-doodle field*/
#image-doodle{
    max-width: 450px;
    max-height: 450px; 
    
}

/*field in a card, that stores comment*/
#card-song-comment{
    border-bottom: none;
}


/* DOWNLOAD WINDOW*/

.window {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.window-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.window img {
    max-width: 100%;
    max-height: 70vh;
    margin-bottom: 20px;
    align-self: center;
}

.button-close {
    position: absolute;
    top: 1px;
    right: 1px;
    background: rgb(214, 70, 70);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-download {
    background: rgb(37, 137, 183);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}